default:
  tags:
    - gpu-test

process-raw-data-prochoice:
  variables:
    DATASET_CONFIG: 
      value: "configs/dataset/prochoice.enriched.env"
      options:
          - "configs/dataset/prochoice.enriched.env"
          - "configs/dataset/prolife.enriched.env"
  image: ihmc-bose/data
  rules:
    - when: manual
  script:
    - source $DATASET_CONFIG
    - mkdir data
    - wandb artifact get $WANDB_PROJECT/$RAW_DATASET
    - python scripts/transform_data.py process --is-lines ./artifacts/$RAW_DATASET/$RAW_DATA $TRANSFORMED_DATA
    - python scripts/batch_enrichment.py --use-gpu data/$TRANSFORMED_DATA $ENRICHED_DATA
    - wandb artifact put --type dataset --name $WANDB_DATASET_NAME $ENRICHED_DATA
