default:
  tags:
    - gpu-test

process-raw-data-prochoice:
  variables:
    WANDB_PROJECT: "knoxcs/detoxify"
    RAW_DATASET: "prochoice.raw.json:v0"
    RAW_DATA: "prochoice.raw.json"
    TRANSFORMED_DATA: "prochoice.transformed.json"
    ENRICHED_DATA: "prochoice.enriched.json"
    WANDB_DATASET_NAME: "knoxcs/detoxify/prochoice.enriched.json"
  image: ihmc-bose/data
  script:
    - wandb artifact get $WANDB_PROJECT/$RAW_DATASET
    - mkdir data
    - python scripts/transform_data.py process ./artifacts/$RAW_DATASET/$RAW_DATA $TRANSFORMED_DATA
    #- python scripts/batch_enrichment.py --use-gpu ./artifacts/$RAW_DATASET/$RAW_DATA $ENRICHED_DATA
    - python scripts/batch_enrichment.py --use-gpu data/$TRANSFORMED_DATA $ENRICHED_DATA
    - wandb artifact put --type dataset --name $WANDB_DATASET_NAME $ENRICHED_DATA